
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'quiztemplatecss.css' %}">
</head>
<body>
<form action="{% url 'home' %}">
    {% csrf_token %}
    <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            {% for quests in quest %}
            <div class="py-2 h5"><b>Q. {{quests.Question}}</b></div>
            
                {% for opt in options %}
                {% if quests.id is opt.qid_id  %}
                {% for cort in cortopt %}
                  
                            {% if cort.oid_id is opt.id and cort.qid_id is quests.id %}
                            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3 " id="options">
                            <label class="options" >{{opt.option}}
                            <input  type="radio" class="opt" name="{{quests.id}}" value="{{opt.id}}" checked required>
                            <span class="checkmark"></span>
                            </label>
                            </div>
                           
                           {% elif cort.oid_id is not opt.id and cort.qid_id is quests.id %}
                                
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                            <label class="options">{{opt.option}}
                            <input  type="radio" disabled class="opt" name="{{quests.id}}" value="{{opt.id}}" required>
                            <span class="checkmark"></span>
                            </label>
                            </div>
                            
                    {% endif %}
                  
                    
               
                {% endfor %}
                {% endif %}
            {% endfor %}
            {% endfor %}
        
        </div>
        <div class="d-flex align-items-center pt-3">
        <div class="ml-auto mr-sm-5">
            <button type="submit" class="btn btn-secondary">Go to Home Page</button>
        </div>
    </div>
    </div>
</form>
    
</body>
</html>